html,
body,
#__next {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
